@media screen and  (max-width:576px){
  .navbar ul{
    position:absolute;
    top:80px;
    right:20px;
    background:#120823;
    flex-direction:column;
    gap:20px;
    padding:20px;
    border-radius:12px;
    display:none;
  }
  .hamburger{
    display:block;
    font-size:1.5rem;
  }
  .navbar button{
    display:none;
  }
  #menu-toggle:checked ~ ul{
    display:flex;
  }
  
/* navbar resize */
.navbar {
    padding: 20px 20px;
}
.navbar h1{
  font-size:2.25rem;
}
/*banner */
.circle{
  max-width:12.5rem;
  /* max-height:200px; */
}
.mic{
  max-width:4rem;
}
.banner{
  background-size:100vh 100%;
  background-position: top ;
}
.banner .image .image-position {
  margin-bottom: 1.5rem;
  .new {
    top: 0.625rem;
    right:-0.625rem;
  }
}
.banner .image{
  padding:6.25rem 0px;
}
.banner .image h2 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: .5rem;
}

/* about-section */
.about-section {
  padding:2.5rem 1.25rem;
}
.about-contents h2 {
  font-size: 2rem;
}
.about-contents p {
  margin-bottom: 2.5rem;
}
.about-review {
  margin-top: 2.5rem;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:2.5rem
}
/* techwave section */
.techwave {
  padding: 2.5rem 1.25rem;
}
.techwave h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.techwave .grid{
  display:flex;
  flex-direction:column;
  gap:1rem;
}
.grid-card {
  padding: 1.5rem;
}
.grid #audio {
  padding-top: 2.5rem;
}
/* feature section */
.feature-section {
  padding:2.5rem 1.25rem 3.75rem 1.25rem;
}
.feature-section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.feature-card-section {
  flex-direction:column;
  gap:1rem;
}
/* host section */
.host-section{
    padding:0px 1.25rem 2.5rem 1.25rem;
}
.host-section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.host-section .identity {
  flex-direction:column;
  text-align:center;
  padding: 1.5rem;
  gap:1rem;
}
.identity-content h3 {
  font-size: 1.5rem;
}
.identity-content .social {
  justify-content:center;
}
/* footer-section */
footer{
  padding:2.5rem 1.5rem;
 }
 footer h1{
  font-size:2.25rem;
  margin-bottom:1.5rem;
 }
 footer .social{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2টা করে এক row */
  gap: 18px 40px; /* row-gap | column-gap */
  justify-content: center;
}

}