* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  color: white;
  background-color: rgb(39, 38, 38);
}
/* shared */
.background {
  background-color: #1a0b2e;
}
.display-flex {
  display: flex;
}
.max-size {
  max-width: 1600px;
  margin: 0 auto;
}
.max-size-content{
  max-width:1200px;
  margin:0 auto;
}
.linear-gradient-text {
  background: linear-gradient(30deg, #f7e93f 0%, #fb09b4 50%, #9100f8 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.linear-gradient {
  background: linear-gradient(30deg, #f7e93f 0%, #fb09b4 50%, #9100f8 80%);
}

/* navbar section */
.navbar {
  padding: 30px 200px;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  list-style: none;
  gap: 40px;
}
.navbar li {
  font-weight: 500;
}
.navbar h1 {
  font-size: 48px;
  font-weight: 700;
}
.navbar button {
  font-weight: 600;
  color: white;
  padding: 12px 16px;
  border-radius: 30px;
  border: none;
  span {
    margin-left: 5px;
  }
}
/* banner section */
.banner {
  background: url("assets/hero-bg.png") no-repeat center;
  background-size: 100%;
}
.banner .image {
  text-align: center;
  position: relative;
  padding: 100px 0px;
  .new {
    font-size: 18px;
    font-weight: 600;
    color: black;
    background-color: #00ff88;
    border-radius: 20px;
    border: none;
    padding: 8px 16px;
    position: absolute;
    top: 113px;
    left: 877px;
  }
}
.banner .image .image-position {
  position: relative;
   margin-bottom: 40px;
}
.banner .image .image-position .mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.banner .image h2 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 8px;
}
.banner .image p {
  opacity: 80%;
  margin-bottom: 24px;
}
.banner-button .btn {
  font-weight: 600;
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  align-items: center;
  span {
    margin-left: 8px;
  }
}
.banner-button .btn2 {
  color: #00ff88;
  border: 1px solid #00ff88;
  background-color: transparent;
}

/* about section */
.about-section{
  padding-top:50px;
  padding-bottom:120px;
}
.about-contents{
  text-align:center;
}
.about-contents h2{
  font-size:48px;
  font-weight:700;
  margin-bottom:16px;
}
.about-contents p{
  opacity:80%;
  line-height:20px;
  margin-bottom:80px;
}
.about-contents hr{
  opacity:10%;
}
.about-review{
  margin-top:80px;
  justify-content:space-around;
}
.about-review .review{
  text-align:center;
}
.about-review .review h2{
  font-size:48px;
  font-weight:900;
  margin-bottom:16px;
  color:#00FF88;
}
.about-review .review p{
  opacity:80%;
}
